*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter,sans-serif;
background:#0a0a0a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#000;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
transition:.3s;
}

nav a:hover{
color:#0057ff;
}

.logo{
font-family:'Bebas Neue';
font-size:2rem;
letter-spacing:3px;
}

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.7)),
url("../assets/images/stadium.jpg");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
}

.hero-content{
text-align:center;
}

.hero h1{
font-size:7rem;
font-family:'Bebas Neue';
}

.hero p{
font-size:1.5rem;
margin:20px 0;
}

.btn{
padding:15px 35px;
background:#0057ff;
border-radius:10px;
text-decoration:none;
color:white;
}

.presentation,
.stats,
.quote{
padding:100px;
}

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
}

.card{
background:#111;
padding:40px;
border-radius:15px;
text-align:center;
}

.card:hover{
transform:translateY(-10px);
}

.characters{
padding:80px;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
}

.character-card{
background:#111;
padding:30px;
border-radius:15px;
}

.club-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;
margin-top:50px;
}

.club-grid div{
background:#111;
padding:30px;
border-radius:15px;
}

.timeline{
margin-top:50px;
display:flex;
flex-direction:column;
gap:20px;
}

.gallery-grid{
padding:50px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.gallery-grid img{
width:100%;
border-radius:15px;
transition:.4s;
}

.gallery-grid img:hover{
transform:scale(1.05);
}
